.body {
    background: #F8FAFB;
    height: 100vh;
}

.content {
    top: 97px;
    left: 376px;
    position: absolute;
    width: 835px;
    height: 80vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

@media screen and (max-width: 425px) {}

@media (min-width: 426px) and (max-width: 768px) {}

@media screen and (max-width: 425px) {}

@media (min-width: 426px) and (max-width: 768px) {}